.blog_heading {
  color: #000 !important;
}
.blog_paragraph {
  color: #000 !important;
}
.blog_container {
  position: relative;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 50px;
  padding-bottom: 30px;

  // margin-right: auto;
  // margin-left: auto;
  // // background: url('../images/paper-bg-white.png');
  // background-repeat: repeat;
  // background-position: center center;
  // background-attachment: scroll;
  // background-size: auto;
  width: 45%;
  // width: 90%;
  height: 50%;
  position: absolute;
  top: 18%;
  left: 31%;
  // left: 10%;
  @media only screen and (max-width: 600px) {
    width: 83%;
    height: 50%;
    position: absolute;
    top: 18%;
    left: 11%;
  }
  overflow-y: auto;
  p,
  h3,
  h1 {
    font-size: 1rem;
    color: #000 !important;
  }
  h1,
  h3 {
    text-transform: uppercase;
  }
}
.blog_bcg {
  pointer-events: none;
  z-index: -1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  // background: url('../images/typing-machine-bcg.png');
  height: 100%;
  width: 100%;
}
.img {
  height: 100%;
  width: 100%;
}
