// @import "../../styles/mixins.scss";
// wide screens
@include mediaXL {
}
// Desktops and Laptops
@include mediaLg {
}
// Small Laptops and Tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg_heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
    .btn__rounded {
      // display: none;
    }
  }
}
// Smart Phones
@include mediaSm {
  main {
    h1 {
      margin-top: 10vh;
      font-size: 3rem;
    }
    
  }
  .home {
    text-align: left;
    // h1 {
    //   margin-top: 7vh!important;
    // }
  }
}

