.project__wrapp {
  width: 33.3%;
  height: 235px;
}
.project__image_wrapp {
  height: 300px;
  width: 100%;
  background-image: url(../images/screencapture-skillsdivision.jpg);
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
